VITE_SUPABASE_URL=https://vasezwcdnmgkijzwdqgq.supabase.co
    VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhc2V6d2Nkbm1na2lqendkcWdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMDM3NDYsImV4cCI6MjA5MTU3OTc0Nn0.sDwoOK9fQwbxvpKX95dDFG1zG95O9_-gwtqK170W0e8
