SUPABASE_URL=https://vasezwcdnmgkijzwdqgq.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhc2V6d2Nkbm1na2lqendkcWdxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjAwMzc0NiwiZXhwIjoyMDkxNTc5NzQ2fQ.rN3M7F1vf74JoQUs7AHjt_OmGz3Isu5xD1RjYP5rWzw
SUPABASE_JWT_SECRET=ubhLJ7jTJzsjzY8xKWMFZ4oukj5SNccyoNjUbtD/eHEoqkdjsEi6jPuHPhGpogP63O1IkyHjgLTc58Sn6RKHiA==
FRONTEND_URL=http://localhost:5173
